# Lending Club - Interest Rate Predictor

## Current Notebook: 1_Preprocessing

---
**Author:** Rohit Singh
<br/>
[GitHub](https://github.com/rohitsinghxyz) | [LinkedIn](https://www.linkedin.com/in/rohitsinghxyz)
<br/>
<br/>
**Project:** Lending Club - Interest Rate Predictor
<br/>
<br/>
**Previous Notebook:** This is the first notebook.
<br/>
**Current Notebook:** 1_Preprocessing
<br/>
**Next Notebook:** 2_Exploratory_Data_Analysis

---
## Table of Contents

[1. Business Question](#1)
<br/>
[2. Data Acquisition](#2)
<br/>
[3. Data Preprocessing](#3)
<br/>
[4. Data Export](#4)

---
<a id="1"></a>
## 1. Business Question

**Introduction**

[Lending Club](https://www.lendingclub.com/) was a peer-to-peer (P2P) lending company headquartered in San Francisco, California. It was founded in 2006 and continued to operate as a peer-to-peer lending company till 2020. After that, it switched focus to institutional investors.

As a P2P company, it enabled borrowers to access unsecured loans between \\$1,000 to \\$40,000 for a period of three or five years. Investors could browse through loan listings on the Lending Club website and select loans they wanted to invest in based on the information provided about the borrower. Lending Club made money by charging borrowers an origination fee and investors a service fee. According to Lending Club, ~\\$16 billion in loans had been originated through its platform up to 31 December 2015.

The dataset has been sourced from Lending Club website. The dataset contains information about accepted loans from 2007 to 2018. The dataset has ~2.26 million rows and 151 columns.

**Objective**

The objective of this project is to predict the interest rate of a loan using machine learning models applied on information provided by the borrower.

---
<a id="2"></a>
## 2. Data Acquisition

In [1]:
# Import packages
import numpy as np
import pandas as pd
import joblib

In [2]:
%%time
# Run time ~ 1 min 10 sec

# Read CSV file
dfa_raw = pd.read_csv('data/accepted_2007_to_2018Q4.csv', low_memory=False)

CPU times: user 57.4 s, sys: 15.2 s, total: 1min 12s
Wall time: 1min 17s

In [3]:
# Check data frame shape
print(f'There are {dfa_raw.shape[0]} rows and {dfa_raw.shape[1]} columns.')

There are 2260701 rows and 151 columns.

In [4]:
##### NOT RECOMMENDED #####

# Uncomment below code lines if you want to see all ~2.26 million rows and 151 columns in this notebook
# Please note that this may slow down the notebook

# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

Let us take a look at the Data Dictionary provided by Lending Club for this data set.

In [5]:
# Read Data Dictionary Excel file
pd.read_excel('data/LCDataDictionary.xlsx')

               LoanStatNew                                        Description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

In [6]:
# Check sample
dfa_raw.sample(10)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
1937688,1101291,NaN,27300.0,27300.0,27250.0,60 months,12.42,613.09,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1155073,32309489,NaN,6750.0,6750.0,6750.0,36 months,20.99,254.28,E,E4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
140634,58574296,NaN,6000.0,6000.0,6000.0,36 months,8.18,188.52,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
581572,113661195,NaN,24000.0,24000.0,24000.0,36 months,9.93,773.63,B,B2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1505791,134976855,NaN,15000.0,15000.0,15000.0,60 months,9.58,315.62,B,B1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1171746,30215615,NaN,24000.0,24000.0,24000.0,36 months,12.99,808.54,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2069652,125225168,NaN,30000.0,30000.0,30000.0,60 months,26.30,903.55,E,E5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
172927,58000651,NaN,19200.0,19200.0,19200.0,36 months,14.65,662.29,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
766928,140442970,NaN,16800.0,16800.0,16800.0,36 months,6.11,511.93,A,A1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
633954,112873727,NaN,33625.0,33625.0,33625.0,36 months,16.02,1182.49,C,C5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

The data seems to have loaded correctly.

The columns seem to be a mix of numerical and categorical data types. We also notice a lot of null values in the columns. Each row is unique and contains information about a single loan application.

We can now begin preprocessing.

---
<a id="3"></a>
## 3. Data Preprocessing

Here, we will check for null values, duplicates, and remove unimportant columns.

Let us begin by finding null values in our data frame.

In [7]:
%%time
# Run time ~ 5 sec

# Check for null values
dfa_raw.isna().sum().sort_values(ascending=False)

CPU times: user 9.23 s, sys: 796 ms, total: 10 s
Wall time: 10.1 s

member_id                                     2260701
orig_projected_additional_accrued_interest    2252050
hardship_end_date                             2249784
hardship_start_date                           2249784
hardship_type                                 2249784
                                               ...
policy_code                                        33
revol_bal                                          33
fico_range_high                                    33
fico_range_low                                     33
id                                                  0
Length: 151, dtype: int64

There are null values in some columns.

We can drop columns where null values >90% as it does not make logical sense to include them in the data frame. We could try to fill those values based on some criteria, but it risks diluting the data.

In [8]:
%%time
# Run time ~ 5 sec

# Drop columns
dfa_raw = dfa_raw.dropna(thresh=len(dfa_raw)*0.9, axis=1)

CPU times: user 9.8 s, sys: 776 ms, total: 10.6 s
Wall time: 10.7 s

In [9]:
# Check data frame shape
print(f'There are {dfa_raw.shape[0]} rows and {dfa_raw.shape[1]} columns.')

There are 2260701 rows and 92 columns.

The number of columns has gone down from 151 to 92. That means we had 59 columns with >90% null values. These 59 columns were dropped.

Let us now check for duplicates in the data frame.

In [10]:
%%time
# Run time ~ 15 sec

# Check for duplicates
dfa_raw.duplicated().sum()

CPU times: user 14.3 s, sys: 3.33 s, total: 17.6 s
Wall time: 17.7 s

0

There are no more duplicates in the data frame.

We can now look at the columns and decide which ones to keep/remove.

As per our business question, our target column is `int_rate`.

With that in mind and based on research and overall understanding of the lending industry, we decided to shortlist some important and relevant columns for further analysis. All the other columns will be dropped from the data frame.

The dropped columns include those with:
- Information/data that would have occurred 'after' the loan application was processed.
- Information/data regarding internal system management/administration of Lending Club.

These were deemed to be irrelevant to our business question.

The following columns have been shortlisted and will be retained:

|Column Name|Description|
|-|-|
|int_rate|Interest Rate on the loan.|
|application_type|Indicates whether the loan is an Individual application or a Joint application with two co-borrowers.|
|loan_amnt|The listed amount of the loan applied for by the borrower.|
|term|The number of payments on the loan. Values are in months and can be either 36 or 60.|
|purpose|A category provided by the borrower for the loan request.|
|annual_inc|The self-reported annual income provided by the borrower during registration.|
|annual_inc_joint|The combined self-reported annual income provided by the co-borrowers during registration.|
|verification_status|Indicates if borrower's income was verified by Lending Club, not verified, or if the income source was verified.|
|verification_status_joint|Indicates if co-borrowers' joint income was verified by Lending Club, not verified, or if the income source was verified.|
|home_ownership|The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.|
|zip_code|The first 3 numbers of the zip code provided by the borrower in the loan application.|
|addr_state|The state provided by the borrower in the loan application.|
|emp_title|The job title supplied by the borrower when applying for the loan.|
|emp_length|Employment length in years. Possible values are between 0 and 10, where 0 means less than one year and 10 means ten or more years.|
|dti|A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested Lending Club loan, divided by the borrower’s self-reported monthly income.|
|dti_joint|A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested Lending Club loan, divided by the co-borrowers' combined self-reported monthly income.|
|fico_range_low|The lower boundary range the borrower’s FICO at loan origination belongs to.|
|fico_range_high|The upper boundary range the borrower’s FICO at loan origination belongs to.|
|pub_rec|Number of derogatory public records.|
|pub_rec_bankruptcies|Number of public record bankruptcies.|
|open_acc|The number of open credit lines in the borrower's credit file.|
|total_acc|The total number of credit lines currently in the borrower's credit file.|
|mort_acc|Number of mortgage accounts.|
|num_sats|Number of satisfactory accounts.|
|num_bc_sats|Number of satisfactory bankcard accounts.|
|tax_liens|Number of tax liens.|
|disbursement_method|The method by which the borrower receives their loan. Possible values are: CASH, DIRECT_PAY|

In [11]:
# Store shortlisted columns as a list
# We had to drop `annual_inc_joint`, `verification_status_joint`, and `dti_joint` columns (reasons below)
cols_of_interest = [
    'int_rate',
    'application_type',
    'loan_amnt',
    'term',
    'purpose',
    'annual_inc',
    'verification_status',
    'home_ownership',
    'zip_code',
    'addr_state',
    'emp_title',
    'emp_length',
    'dti',
    'fico_range_low',
    'fico_range_high',
    'pub_rec',
    'pub_rec_bankruptcies',
    'open_acc',
    'total_acc',
    'mort_acc',
    'num_sats',
    'num_bc_sats',
    'tax_liens',
    'disbursement_method',
]

While trying to save the shortlisted the `cols_of_interest` list to our data frame `dfa_raw`, we got an error:

_KeyError: "['annual_inc_joint', 'verification_status_joint', 'dti_joint'] not in index"_

This means that the above three columns `annual_inc_joint`, `verification_status_joint`, and `dti_joint` were dropped earlier because they had >90% null values.

We will have to drop these columns from our shortlisted `cols_of_interest` list.

Also, we will need to drop the rows where `application_type` is 'Joint' because, without the above three columns, there isn't much use to keep the 'Joint' loan applications. Let us take a closer look.

In [12]:
# Save shortlisted columns
dfa_raw = dfa_raw[cols_of_interest]

In [13]:
# Check for null values
dfa_raw['application_type'].isna().sum()

33

In [14]:
# Drop null values
dfa_raw.dropna(subset=['application_type'], inplace=True)

In [15]:
# Check for null values
dfa_raw['application_type'].isna().sum()

0

In [16]:
# Check counts
dfa_raw['application_type'].value_counts()

Individual    2139958
Joint App      120710
Name: application_type, dtype: int64

Joint loan applications account for ~5.64% of all loan applications.

Without the supporting columns `annual_inc_joint`, `verification_status_joint`, and `dti_joint`, there isn't much use to keep these 'Joint' loan applications.

We will drop the 'Joint' loan applications and focus our analysis on 'Individual' loan applications.

In [17]:
# Check data frame shape
print(f'There are {dfa_raw.shape[0]} rows and {dfa_raw.shape[1]} columns.')

There are 2260668 rows and 24 columns.

In [18]:
# Keep only Individual loan applications
dfa_raw = dfa_raw[(dfa_raw['application_type'] == 'Individual')]

In [19]:
# Check counts
dfa_raw['application_type'].value_counts()

Individual    2139958
Name: application_type, dtype: int64

We have successfully dropped Joint loan applications. Our focus will now be on Individual loan applications.

Since the `application_type` column now has just one category (Individual), we can drop this column.

❌ We will drop the `application_type` column for now.

In [20]:
# Drop column
dfa_raw.drop(['application_type'], axis=1, inplace=True)

In [21]:
# Check data frame shape
print(f'There are {dfa_raw.shape[0]} rows and {dfa_raw.shape[1]} columns.')

There are 2139958 rows and 23 columns.

---
<a id="4"></a>
## 4. Data Export

We will make a copy of the modified `dfa_raw` data frame and save it as a new data frame `dfa_eda` for use in the next Jupyter notebook (2_Exploratory_Data_Analysis).

We will then delete the `dfa_raw` data frame.

In [22]:
# Check data frame shape
print(f'There are {dfa_raw.shape[0]} rows and {dfa_raw.shape[1]} columns.')

There are 2139958 rows and 23 columns.

In [23]:
# Make copy of data frame
dfa_eda = dfa_raw.copy(deep=True)

In [24]:
# Check data frame shape
print(f'There are {dfa_eda.shape[0]} rows and {dfa_eda.shape[1]} columns.')

There are 2139958 rows and 23 columns.

The data frame shapes match.

We can now delete the `dfa_raw` data frame.

In [25]:
# Delete data frame
del dfa_raw

In [26]:
# Export data frame
joblib.dump(dfa_eda, 'data/dfa_eda.pkl')

['data/dfa_eda.pkl']

In the next Jupyter notebook (2_Exploratory_Data_Analysis), we will conduct Exploratory Data Analysis (EDA) on the `dfa_eda` data frame.

**THE END**